@import "../../styles/colors.scss";

.header {
  display: flex;
  color: white;
  height: 4em;
  background-color: $davys-gray;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.links__container {
  display: flex;
  align-items: center;
  gap: 15px;
  a:hover {
    color: #9ca3af;
  }
  padding-right: 20px;
}
