@import "../../styles/colors.scss";

.header {
  display: flex;
  color: white;
  min-height: 4em;
  background-color: $davys-gray;
  justify-content: space-between;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0),
    rgba(96, 91, 86, 1)
  );
  grid-row: 1;
  grid-column: 1;
  height: fit-content;

  .profile-info__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;

    .profile-pic {
      border-radius: 9999px;
      border: 2px solid $olivine;
      width: 3.5rem;
      height: 3.5rem;
      overflow: hidden;

      img {
        width: 100%;
      }
    }
  }

  .links__container {
    display: flex;
    align-items: center;
    gap: 15px;

    a:hover {
      color: #9ca3af;
      cursor: pointer;
    }
  }
}
