/* SCSS HEX */
$davys-gray: #605b56ff;
$gray: #837a75ff;
$olivine: #acc18aff;
$tea-green: #dafeb7ff;
$beige: #f2fbe0ff;

/* SCSS HSL */
$davys-gray: hsla(30, 5%, 36%, 1);
$gray: hsla(21, 6%, 49%, 1);
$olivine: hsla(83, 31%, 65%, 1);
$tea-green: hsla(90, 97%, 86%, 1);
$beige: hsla(80, 77%, 93%, 1);

/* SCSS RGB */
$davys-gray: rgba(96, 91, 86, 1);
$gray: rgba(131, 122, 117, 1);
$olivine: rgba(172, 193, 138, 1);
$tea-green: rgba(218, 254, 183, 1);
$beige: rgba(242, 251, 224, 1);
